.hero {
    background-image: url(" ../../resources/images/the-flatiron-building.png") ;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
    padding-bottom: 1px;
}
body {
    text-align: center;
    font-family:  Helvetica, sans-serif;
    
}
h1 {
    
    font-size: 70px;
    font-weight: bold;
    
}

nav a  {
    color: white;
    
}
   

li  {
    
    font-size: 18px;
    text-decoration: underline;
    list-style: none;
    
}
h2 {
    font-size: 32px;
    font-weight: bold;
}
.divider h2 {
    background-image: url(" ../../resources/images/the-flatiron-building.png");
    background-repeat: no-repeat;
    background-position: center;
    font-size: 23px;
    font-weight: bold;
    color: white;
}
.footer-nav  {
    text-align: left;
    color: white !important;
    font-size: 11px;
    background-color: dimgray;
}

a {
    color: white;
    text-align: left;
}


